{
 "presets": [
    // {"plugins": ["./plugins/babelRelayPlugin"]},
    "react-native"
  ],
 "plugins": [
   "transform-decorators-legacy",
   "transform-flow-strip-types",
   "syntax-flow",
   "babel-root-import",
   "babel-plugin-transform-dirname-filename"

   // "./plugins/babel-plugin-root-import.js"

   // "transform-class-properties",
   // "transform-es2015-classes",
   // [ "transform-async-to-module-method", {
   //     "module": "bluebird",
   //     "method": "coroutine"
   //   }
   // ]
 ]
}
