{
 "presets": [
   "react-native-stage-0/decorator-support"
  ],
 "plugins": [
   "transform-decorators-legacy",
   "transform-flow-strip-types",
   "syntax-flow",
   ["babel-root-import", {
    "rootPathSuffix": "src/"
   }],
   "babel-plugin-transform-dirname-filename"
 ]
}
